@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

body {
    color: rgb(0, 0, 0);
    background-color: rgb(238, 238, 238);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.6;
    margin: 8px;
    text-align: center;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    color: rgb(22, 30, 84);
    font-size: 40px;
    text-align: center;
    font-weight: 300;
}

h2, h3 {
    font-family: 'Bebas Neue', cursive;
    color: rgb(22, 30, 84);
    font-size: 25px;
    text-align: center;
}

.container {
    width: 700px;
    margin: 40px auto;
}

#introduction p {
    margin-bottom: 40px;
}

p {
    font-family: 'Roboto', sans-serif;
    color: rgb(22, 30, 84);
    text-align : center;
    font-weight : 100
}

img {
    border-radius: 50%;
    width: 125px;
    height: 125px;
    margin-bottom: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,.1); 

}

a {
    color: rgb(22, 30, 84);
    text-decoration: none;
    font-weight: bold;

}

a:hover {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    display: inline;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: disc;
    margin-block-start: 17px;
    margin-block-end: 17px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    width: 620px;
    font-size: 40px;
    text-align: center;
}

.list-inline {
    list-style: none;
    display: inline;
    padding-left: 0px;
}

.list-inline > li {
    display: inline-block;
    padding: 0px 20px;
  }

div {
    background: white;                         /* White background */
    /* padding: 60px;                             Internal space */
    border-radius: 10px;
    /* margin: 60px 60px; */
    box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
}

.btn-blue {
    background-color: rgb(22, 30, 84);
    color: white;
    padding: 10px 10px;
    border-radius: 4px;
}

.card-white{
    padding-bottom: 50px;
}

.btn-blue:hover {
    background-color: black;
    color: white;
}

@media (max-width: 960px) {
    /* For a screen < 960px, this CSS will be read */
    .container {
      width: 700px;
    }
  }
  @media (max-width: 720px) {
    /* For a screen < 720px, this CSS will be read */
    .container {
      width: 500px;
    }
  }
  @media (max-width: 540px) {
    /* For a screen < 540px, this CSS will be read */
    .container {
      width: 300px;
    }
  }